cml-definitions/virl-base-images/*
cml-definitions/node-definitions/*
!cml-definitions/virl-base-images/.gitkeep
!cml-definitions/node-definitions/.gitkeep
xrd/xrd-control-plane-container-x86*.tgz
BUILD/*.deb
